@media screen and (max-width: 1400px){
    .contact-info-up-container{
        width: 40%;
    }
}

@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
}

@media(max-width: 1200px){
    /* profile section */
    #my-profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        margin: 3rem auto;
    }
    .photo-container{
        display: flex;
        width: 400px;
        margin: auto ;
    }

    .section-text{
        display: block;
        margin: auto;
        margin-bottom: 3rem;
    }
    /* about section */
    #about{
        display: block;
        margin-top: 3rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto;
        height: fit-content;
    }
    .section-container{
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about-pic{
        margin-top: 1rem;
        width: 100%;
    }
    .about-details{
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    /* experience section*/
    #experience{
        display: flex;
        flex-direction: column;
        height: auto;
    }


    /* project section */
    .about-containers{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    /* contact section */
    #contact{
        display: flex;
    }

    .contact-info-up-container{
        display: flex;
        flex-wrap: wrap;
        width: min-content;
    }
}

@media(max-width: 550px){
    /* my profile section */
    #my-profile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
        
    }

    .bg-color{
        width: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
    }

    .photo-container{
        height: auto;
    }


    /* experience section */
    #experience{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about-containers{
        width: min-content;
    }
    .about-containers-experience{
        justify-content: center;
        align-items: center;
        width: fit-content;
    }


    /* project section  */
    #project{
        margin: auto;
    }

    .experience-details-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    /* contact section  */
    #contact{
        display: flex;
        margin: auto;
    }

    /* bottom nav  */
    footer nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}


@media(max-width: 375px){
    .section-about-p p{
        margin-top: 5rem;
    }

}
